$link-text-color: #52c8fa;

.signup-navigation-container {
  height: 15%;
  display: flex;

  .signup-welcome-container {
    height: 100%;
    width: 60%;
    background-color: rgb(250, 188, 73);
    display: flex;

    .logo-img {
      max-height: 100%;
      margin-left: 20px;
    }

    .learn-more {
      color: white;
      margin: auto 0;
    }

    .learn-more:visited {
      color: white;
    }

    .learn-more:hover,
    .learn-more:active {
      color: $link-text-color;
    }
  }

  .signup-form-navigation {
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: flex-end;

    .signin-link,
    .signin-link__team {
      color: black;
      margin: auto 25px auto 0;
    }

    .signin-link:visited,
    .signin-link__team:visited {
      color: black;
    }

    .signin-link:active,
    .signin-link__team:active,
    .signin-link:hover,
    .signin-link__team:hover {
      color: $link-text-color;
    }
  }
}
