$link-text-color: #52c8fa;
$orange-color: rgb(250, 188, 73);

.signup-container {
  min-height: 85%;
  height: 1px;
  display: flex;
}

a {
  text-decoration: none;
  color: $link-text-color;
}

.signup-welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: $orange-color;
  width: 60%;

  .company-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -10em;
    color: rgb(226, 86, 196);

    .company-tagline {
      // margin: 0;
    }

    .company-summary {
      width: 50%;
      font-size: 1.25em;
      text-align: center;
      margin: 20px auto;
    }
  }
}

.signup-information {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 40%;

  .signup-card {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-top: -8em;
  }

  .signin-link-span {
    display: inline-block;
    margin-bottom: 10px;
  }

  .btn {
    display: inline-block;
    cursor: pointer;
    font-size: 1.02em;
    padding: 6px 24px;
    text-decoration: none;
    margin-bottom: 10px;
  }

  .signup-form {
    display: flex;
    flex-direction: column;

    .signup-form-btn {
      box-shadow: inset 0px 1px 0px 0px #fce2c1;

      background-color: $orange-color;
      border: 1px solid #eeb44f;
      color: #ffffff;
      text-shadow: 0px 1px 0px #cc9f52;
    }

    .signup-form-btn:active {
      position: relative;
      top: 1px;
    }

    .signup-form-btn:focus {
      outline: none;
    }
  }

  .google-signin-btn {
    background-color: white;
  }

  .signup-card-item {
    margin-bottom: 10px;
  }
}
