$link-text-color: #52c8fa;
$orange-color: rgb(250, 188, 73);

.signup-container {
  height: 85%;
  display: flex;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

a:active,
a:hover {
  color: $link-text-color;
}

.signup-information {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 40%;

  .signup-card {
    display: flex;
    flex-direction: column;
    width: 30%;
    position: relative;
    top: -100px;
  }

  .signin-link-span {
    display: inline-block;
    margin-bottom: 10px;
  }

  .btn {
    display: inline-block;
    cursor: pointer;
    font-size: 1.02em;
    color: white;
    padding: 6px 24px;
    text-decoration: none;
    margin-bottom: 10px;
  }

  .signup-form {
    display: flex;
    flex-direction: column;

    .signup-card-item {
      border: 2px solid black;
      margin-bottom: 10px;
    }

    .signup-form-btn {
      box-shadow: inset 0px 1px 0px 0px #fce2c1;

      background-color: $orange-color;
      border: 1px solid #eeb44f;
      color: #ffffff;
      text-shadow: 0px 1px 0px #cc9f52;
    }

    .signup-form-btn:active {
      position: relative;
      top: 1px;
    }

    .signup-form-btn:focus {
      outline: none;
    }
  }

  .google-signin-btn {
    background-color: #4c8bf5;
    border: none;
  }
}

@media only screen and (max-width: 1350px) {
  .signup-information {
    .signup-card {
      width: 50%;
    }
  }
}

@media only screen and (max-width: 540px) {
  .signup-information {
    .signup-card {
      width: 80%;
    }
  }
}
